<%= form_for @article, :url => { :action => "merge", :id => @article.id } do |f| %>
  <div class='well'>
    <h4><%= _("Merge Articles") %></h4>
    <%= text_field 'merge_article_id','', :style => 'margin-right:1em', :placeholder => _('Article ID') %>
    <%= save( _("Merge Articles")) %>
  </div>
<% end %>
